<div class="status-card container">
    <img src="https://img.freepik.com/premium-photo/flat-illustration-cute-pleasant-boy-friendly-character-white-background_941097-80928.jpg?ga=GA1.1.385059361.1701880400&semt=ais_user" width="100%" alt="">
    <h2 class="status-title">Great Choice!</h2>
    <p class="status-message">You have unlocked a lifetime membership.</p>
    <button class="status-button sweet" routerLink="/course">Continue <i style="font-size: 15px" class="fa fa-unlock"></i></button>
</div>