<div class="container">
    <div class="header">
        <i class="fa fa-arrow-left" routerLink="/home"></i>
    </div>
    <header class="header">
        <h2>Courses</h2>
        <div class="view-icons">
            <i class="fa fa-th-large"></i>
            <i class="fa fa-list"></i>
        </div>
    </header>
    <nav class="breadcrumb">
        <span>Home</span> › <span>Course</span>
    </nav>

    <div class="folders">
        <div class="folder active">
            <i class="fa fa-play-circle"></i>
            <h2>Video</h2>
            <p><i class="fa fa-list"></i> 18 Items</p>
        </div>
        <div class="folder active">
            <i class="fa fa-volume-up"></i>
            <h2>Audio</h2>
             <p><i class="fa fa-list"></i> 12 Items</p>
        </div>
        <div class="folder active">
            <i class="fa fa-file"></i>
            <h2>Document</h2>
             <p><i class="fa fa-list"></i> 25 Items</p>
        </div>
        <div class="folder active">
            <i class="fa fa-book"></i>
            <h2>Quiz</h2>
             <p><i class="fa fa-list"></i> 4 Items</p>
        </div>

    </div>
</div>