<div class="container">
    <header class="header">
        <h1>Categories</h1>
        <div class="view-icons">
            <i class="fa fa-th-list"></i>
            <i class="fa fa-th-large"></i>
        </div>
    </header>
    <p class="last-update">LAST UPDATE · 16 Oct 2019</p>
    <div class="categories">
        <div class="category">
            <div class="icon">
                <i class="fa fa-file-video-o"></i>
            </div>
            <div class="details">
                <h2>Videos</h2>
                <p>289 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="category">
            <div class="icon">
                <i class="fa fa-file-text-o"></i>
            </div>
            <div class="details">
                <h2>Documents</h2>
                <p>180 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="category active">
            <div class="icon">
                <i class="fa fa-music"></i>
            </div>
            <div class="details">
                <h2>Music</h2>
                <p>269 Items</p>
            </div>
            <button class="open-button">OPEN <i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
</div>