<div class="container">
    <div class="categories">
        <div class="category">
            <div class="icon">
                <i class="fa fa-file-video"></i>
            </div>
            <div class="details">
                <h2>Videos</h2>
                <p>289 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="category">
            <div class="icon">
                <i class="fa fa-music"></i>
            </div>
            <div class="details">
                <h2>Audios</h2>
                <p>29 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="category">
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
            <div class="details">
                <h2>Documents</h2>
                <p>180 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="category">
            <div class="icon">
                <i class="fa fa-book"></i>
            </div>
            <div class="details">
                <h2>Quiz</h2>
                <p>180 Items</p>
            </div>
            <i class="fa fa-ellipsis-v options"></i>
        </div>
    </div>
</div>