/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    /* Soft grayish-blue background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/back_to_school.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjusts the background image to cover the entire container */
    background-position: center;
    backdrop-filter: blur(10px);
    /* Adjust the blur radius as needed */
}

/* Container styles */
.container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Media query for mobile */
@media (max-width: 480px) {
    .container {
        width: 100%;
        /* Full width on mobile devices */
        border-radius: 0;
        box-shadow: unset !important;
        /* Remove border-radius on mobile devices */
    }

    body {
        display: block !important;
        height: fit-content !important;
    }

    .course-info {
        width: fit-content !important;
    }
}

/* Video thumbnail styles */
.video-thumbnail {
    position: relative;
    width: 100%; /* Or any specific width */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    video,
    iframe,
    audio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.play-button {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 75%;
    background: transparent;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #ffffff;
    /* White text color */
    font-size: 12px;
    /* Small font size */
    font-family: 'Arial', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    padding: 5px 10px;
    border-radius: 10px;
}

/* Course info styles */
.course-info {
    border-radius: 49px 49px 0 0;
    border: 20px solid transparent;
    background: white;
}

.heading {
    display: flex;
    justify-content: space-between;
}

h2 {
    flex: 1;
    /* Makes the heading take up remaining space */
}

.course-info h2 {
    margin: 0;
    font-size: 20px;
    color: #333333;
    /* Dark gray text color */
}

.rating {
    font-size: 15px;
    color: #f39c12;
    /* Orange rating color */
}

.instructor-info {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.instructor-info p {
    flex: auto;
    /* Each detail occupies half of the container */
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* Adjusted margin */
}

.instructor-info p:nth-child(2),
p:nth-child(4) {
    justify-content: right;
}

.instructor-info .fa {
    margin-right: 10px;
    flex: 0 0 auto;
    /* Reset flex property for the icon */
}



.description p {
    color: #666666;
    /* Grayish text color */
}

.description a {
    color: #007bff;
    /* Blue link color */
    text-decoration: none;
}

.tabs {
    display: flex;
    margin: 20px 0;
}

.tab {
    flex: 1;
    padding: 10px;
    background: #f0f0f0;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #555555;
    display: flex;
    gap: 10px;
    align-items: center;
    /* Dark gray text color */
}

.tab.active {
    color: #007bff;
    /* Blue active tab color */
    border-bottom: 2px solid #007bff;
    /* Blue bottom border for active tab */
}

.lessons {
    margin: 20px 0;
}

.lesson {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    // background: #f9f9f9;
    background-color: #f0f0f0;
    border-radius: 10px;
    opacity: 0.7;
    border: 2px solid transparent;

    /* Remove border from all lessons */
    i {
        color: #007bff;
    }
}

.lesson.active {
    border-color: #007bff;
    /* Blue border for the first lesson */
    opacity: unset;
}

.lesson span {
    font-size: 18px;
    color: #007bff;
    /* Blue lesson number color */
    margin-right: 20px;
}

.lesson-info {
    flex-grow: 1;
}

.lesson-info p {
    margin: 0;
}

.lesson-info p:not(:first-child) {
    font-size: 13px;
    /* Updated font size for lesson timing */
    color: #555555;
    /* Dark gray text color */
}

.play-icon {
    width: 20px;
    height: 20px;
}
.enroll{
    width: 100%;
    text-align: center;
    position: relative;
}

.enroll-btn {
    width: 80%;
    padding: 15px;
    background: #007bff;
    /* Blue button background color */
    color: #ffffff;
    /* White button text color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}