
.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
}

.menu-icon, .notification-icon {
    font-size: 24px;
    color: #333;
}

main {
    padding: 15px;
}

.welcome h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 16px;
    margin-bottom: 20px;
}

.trial-banner {
    display: flex;
    align-items: center;
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 15px;
}

.trial-text h2 {
    margin: 0;
    font-size: 18px;
    color: #00796b;
}

.trial-text p {
    font-size: 14px;
    color: #00796b;
    margin: 10px 0;
}

.trial-text button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.trial-image img {
    width: 100px;
    border-radius: 50%;
    margin-left: 15px;
}

.subjects {
    margin: 20px 0;
}

.subjects h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.subject-tags {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

/* Hide scrollbar for Webkit browsers */
.subject-tags::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .subject-tags {
    scrollbar-width: none; /* Firefox */
  }
  

.subject-tags button {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #eee;
}

.subject-tags .active {
    background-color: #333;
    color: #fff;
}

.popular-courses {
    margin: 20px 0;
}

.popular-courses h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.courses {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    white-space: nowrap; /* Prevents wrapping of flex items */
  }

  .course-card {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    min-width: 200px; /* Ensures a minimum width for the course cards */
  }

  .courses::-webkit-scrollbar {
    display: none;
  }

  .courses {
    scrollbar-width: none;
  }

.course-card {
    align-items: center;
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 15px;
    flex: 1;
}

.course-card h3 {
    margin: 0;
    font-size: 16px;
    color: #00796b;
}

.course-card p {
    font-size: 14px;
    color: #00796b;
}

.your-courses {
    margin: 20px 0;
}

.your-courses h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.your-courses .course-card img{
    width: 100px;
    margin-bottom: 20px;
    border-radius: 15%;
}



footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;
}

footer i {
    font-size: 24px;
    color: #333;
}
footer i:first-child{
    color: #00796b;
}