<div class="container">
    <div class="video-thumbnail">
        <video width="320" height="240" poster="assets/children-reading-books-white-background_1308-94746.avif"
            src="" autoplay>
        </video>
        <div class="play-button">
            <i style="font-size:24px" class="fa">&#xf144;</i>
        </div>
        <div class="time">10:36</div>
    </div>
    <div class="course-info">
        <div class="heading">
            <h2>UI/UX Design Mastery</h2>
            <div class="rating">
                <span>⭐ 4.5</span>
            </div>
        </div>

        <div class="instructor-info">
            <p><i class="fa fa-user" aria-hidden="true"></i>Rasel Mondol</p>
            <p><i class="fa fa-clock"></i> 2h 30min</p>
            <p><i class="fa fa-user-plus"></i> 150+ Students</p>
            <p><i style="font-size:24px" class="fa">&#xf080;</i> Advance</p>
        </div>
        <div class="description">
            <p>Conveniently build adaptive users with front-end human capital. Appropriately unleash team building
                technology for. <a href="#">Read More</a></p>
        </div>
        <div class="tabs">
            <button *ngFor="let data of tabs" (click)="activateTab(data)"
                class="tab {{activetab == data.title?'active':''}}"><i style='font-size:15px' class='fas'
                    [innerHTML]="data.icon"></i> {{data.title}}</button>
        </div>
        <div>
            <div class="lesson {{data.isactive?'active':''}}" (click)="activatePlaylist(data)"
                *ngFor="let data of playlists;let i = index">
                <span>{{i+1}}</span>
                <div class="lesson-info">
                    <p>{{data.topic}}</p>
                    <p>{{data.time}}</p>
                </div>
                <div class="play-icon">
                    <i style="font-size:24px" class="fa">&#xf144;</i>
                </div>
            </div>
        </div>
        <button class="enroll-btn">Enroll Now</button>
    </div>
</div>